{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .custom-button {
  width: 1200px;
  height: 100px;
  bottom: 250px;
  position: absolute;
  right: 110px;
  padding: 10px;
  font-size: 100px !important;
}
</style>

<body>
  <!--header section start -->
  {% include 'includes/_navbar.html' %}
  <!-- header section end -->
  <!-- banner section start -->
  <div class="banner_section">
    <div class="container-fluid">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="book_now">
                  <h1 class="book_text">BOOK NOW</h1>
                  <h1 class="call_text">(+71) 1234567890</h1>
                </div>
                <div class="image_1"><img src="{%static 'img-1.png' %}"></div>
              </div>
              <div class="col-md-6">
                <h1 class="booking_text">Book a ride to your destination in town</h1>
                <div class="contact_bg">
                  <div class="input_main">
                    <div class="container">
                      <h2 class="request_text">Your everyday travel partner</h2>
                      <div style="width: 100px; height: 200px;"></div>
                    </div>
                  </div>
                  <div class="custom-button send_bt"><a href="{% url 'ride_request' %}">SUBMIT YOUR REQUEST</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="book_now">
                  <h1 class="book_text">BOOK NOW</h1>
                  <h1 class="call_text">(+71) 1234567890</h1>
                </div>
                <div class="image_1"><img src="{% static 'img-1.png' %}"></div>
              </div>
              <div class="col-md-6">
                <h1 class="booking_text">Book a ride to your destination in town</h1>
                <div class="contact_bg">
                  <div class="input_main">
                    <div class="container">
                      <h2 class="request_text">Your everyday travel partner</h2>
                      <div style="width: 100px; height: 200px;"></div>
                    </div>
                  </div>

                  <div class="custom-button send_bt"><a href="{% url 'ride_request' %}">SUBMIT YOUR REQUEST</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-6">
                <div class="book_now">
                  <h1 class="book_text">BOOK NOW</h1>
                  <h1 class="call_text">(+71) 1234567890</h1>
                </div>
                <div class="image_1"><img src="{% static 'car.png' %}"></div>
              </div>
              <div class="col-md-6">
                <h1 class="booking_text">Book a ride to your destination in town</h1>
                <div class="contact_bg">
                  <div class="input_main">
                    <div class="container">
                      <h2 class="request_text">Your everyday travel partner</h2>
                      <div style="width: 100px; height: 200px;"></div>
                    </div>
                  </div>
                  <div class="custom-button send_bt"><a href="{% url 'ride_request' %}">SUBMIT YOUR REQUEST</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i></a>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
        </a>
      </div>

    </div>
  </div>
  <!-- banner section end -->
  <!-- our taxis section start -->
  <div id="taxis" class="taxis_section layout_padding">
    <div class="container">
      <h1 class="our_text">Our <span style="color: #f4db31;">Taxi</span></h1>
      <div class="taxis_section_2">
        <div class="row">
          <div class="col-sm-4">
            <div class="taxi_main">
              <div class="round_1">01</div>
              <h2 class="carol_text">CAR 1</h2>
              <p class="reader_text">act that a reader will be<br>
                distracted </p>
              <div class="images_2"><a href="#"><img src="{% static 'img-2.png' %}"></a></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="taxi_main">
              <div class="round_1">02</div>
              <h2 class="carol_text">CAR 2</h2>
              <p class="reader_text">act that a reader will be<br>
                distracted </p>
              <div class="images_2"><img src="{% static 'img-2.png' %}"></a></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="taxi_main">
              <div class="round_1">03</div>
              <h2 class="carol_text">CAR 3</h2>
              <p class="reader_text">act that a reader will be<br>
                distracted </p>
              <div class="images_2"><img src="{% static 'img-2.png' %}"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our taxis section end -->
  <!-- why ride section start -->
  <div id="booking" class="ride_section layout_padding">
    <div class="container">
      <div class="ride_main">
        <h1 class="ride_text">Why Ride <span style="color: #f4db31;">With Uloax</span></h1>
      </div>
    </div>
  </div>
  <div class="ride_section_2 layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="image_3"><img src="{% static 'img-3.png' %}"></div>
        </div>
        <div class="col-sm-8">
          <h1 class="cabe_text">Uloax for Every Pocket</h1>
          <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as It is a long established fact that a reader will be distracted by the readable c
          </p>
          <div class="book_bt"><a href="#">BOOK NOW</a></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="secure_text">Secure and Safer Rides</h1>
          <p class="long_text_2">It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as It is a long established fact that a reader will be distracted by the readable c
          </p>
          <div class="book_bt_2"><a href="#">BOOK NOW</a></div>
        </div>
        <div class="col-sm-4">
          <div class="image_3"><img src="{% static 'img-4.png' %}"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="image_3"><img src="{% static 'img-5.png' %}"></div>
        </div>
        <div class="col-sm-8">
          <h1 class="cabe_text">Uloax for Every Pocket</h1>
          <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as It is a long established fact that a reader will be distracted by the readable c
          </p>
          <div class="book_bt"><a href="#">BOOK NOW</a></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="secure_text">Secure and Safer Rides</h1>
          <p class="long_text_2">It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as It is a long established fact that a reader will be distracted by the readable c
          </p>
          <div class="book_bt_2"><a href="#">BOOK NOW</a></div>
        </div>
        <div class="col-sm-4">
          <div class="image_3"><img src="{% static 'img-5.png' %}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- why ride section end -->
  <!-- location section start -->
  <div id="contact" class="location_sectin layout_padding">
    <div class="container-fluid">
      <div class="location_main">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-5">
            <div class="download_text">DOWNLOAD<br><span style="color: #fffcf4;">OUR APP TODAY</span></div>
          </div>
          <div class="col-sm-3">
            <div class="image_7"><img src="{% static 'img-7.png' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- download section end -->
  <!-- section footer start -->
  <div class="section_footer ">
    <div class="container">
      <div class="footer_section_2">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">Address</h2>
            <p class="ipsum_text">Embark on Seamless Journeys, Where Every Ride Transcends Convenience. Elevate Your Experience, Empower Your Drive: RideSharing, Where Travel Meets Transformation. </p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">Links</h2>
            <div class="image-icon"><img src="{% static 'bulit-icon.png' %}"><span class="fb_text"><a
                  href="#">Home</span></a></div>
            <div class="image-icon"><img src="{% static 'bulit-icon.png' %}"><span class="fb_text"><a
                  href="#">About</span></a></div>
            <div class="image-icon"><img src="{% static 'bulit-icon.png' %}"><span class="fb_text"><a
                  href="#">Taxi</span></a></div>
            <div class="image-icon"><img src="{% static 'bulit-icon.png' %}"><span class="fb_text"><a
                  href="#">Booking</span></a></div>
            <div class="image-icon"><img src="{% static 'bulit-icon.png' %}"><span class="fb_text"><a href="#">Contact
                  Us</span></a></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">Follow Us</h2>
            <div class="image-icon"><img src="{% static 'fb-icon.png' %}"><span class="fb_text"><a
                  href="#">Facebook</a></span></div>
            <div class="image-icon"><img src="{% static 'twitter-icon.png' %}"><span class="fb_text"><a
                  href="#">Twitter</a></span></div>
            <div class="image-icon"><img src="{% static 'in-icon.png' %}"><span class="fb_text"><a
                  href="#">Linkedin</a></span></div>
            <div class="image-icon"><img src="{% static 'youtube-icon.png' %}"><span class="fb_text"><a
                  href="#">Youtube</a></span></div>
            <div class="image-icon"><img src="{% static 'instagram-icon.png' %}"><span class="fb_text"><a
                  href="#">Instagram</a></span></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="adderess_text">Newsletter</h2>
            <input type="" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
            <button class="subscribr_bt">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section footer end -->
  <!-- copyright section start -->

  <!-- Javascript files-->
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'popper.min.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jquery-3.0.0.min.js' %}"></script>
  <script src="{% static 'plugin.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'custom.js' %}"></script>
  <!-- javascript -->
  <script src="{% static 'owl.carousel.js' %}"></script>
  <script src="{% static 'jquery.fancybox.min.js' %}"></script>

  <script>
    $(document).ready(function () {
      $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
      });

      $(".zoom").hover(function () {

        $(this).addClass('transition');
      }, function () {

        $(this).removeClass('transition');
      });
    });
  </script>
  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</body>

</html>
{% endblock %}